---
/*svg

 */
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Esland fortnite"
    description="Description página esland fortnite"
>
    <div
        class="relative bg-top bg-cover bg-no-repeat h-[90vh] w-full max-w-[100vw] mb-24"
        style={`clip-path:polygon(0 0, 100% 0, 100% 85%,50% 100%,50% 100%,0% 85%);background-image:url('/bg-esland-fortnite.webp');`}
    >
        <div
            class="absolute inset-0 w-full h-full flex flex-col md:flex-row justify-center md:justify-between items-center gap-10 p-4 2xl:p-0 max-w-7xl mx-auto z-50"
        >
            <div class="flex flex-col gap-y-2 max-w-2xl">
                <p class="text-base md:text-2xl text-balance">
                    Durante milenios, el Artefacto de los Premios ESLAND ha
                    viajado por el espacio canalizando la energía creativa a
                    través de portales a todos los rincones del universo. Pero
                    durante este proceso algo no ha funcionado correctamente, y
                    algunos componentes del artefacto se han perdido por
                    diferentes dimensiones.
                </p>
                <p class="text-base md:text-2xl text-balance">
                    En un último esfuerzo, el Artefacto ha creado la Isla ESLAND
                    - creado en FORTNITE®, para que un grupo de elegidos se
                    enfrenten juntos a los mayores desafíos y consigan recuperar
                    el poder del artefacto antes de la tercera edición de los
                    premios.
                </p>
            </div>
            <button
                class="text-base md:text-3xl border-8 border-solid border-white p-4 -rotate-6"
            >
                SUSPENDIDO
            </button>
        </div>
    </div>
    <main>
        <section
            class="text-white w-full bg-[#01356d] bg-blend-luminosity bg-[url('/bg-2-esland-fortnite.webp')] bg-cover bg-no-repeat bg-center relative min-h-[80vh] my-24"
        >
            <div
                class="absolute top-0 left-0 w-full h-full bg-blue-950 opacity-90 flex flex-col justify-center items-center px-6 2xl:px-0"
            >
                    <p class="text-2xl lg:text-4xl text-pretty border-8 border-solid border-white w-fit max-w-[1280px] p-5">
                        Sentimos comunicar que el mapa de La Isla ESLAND y su
                        respectivo programa de premios quedan suspendidos de
                        forma permanente debido al mal funcionamiento del mapa a
                        raíz de la última actualización de Epic. Sentimos las
                        molestias
                    </p>
            </div>
        </section>
    </main>
</Layout>
