---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Finalistas - Esland Web' description='description página finalistas - Esland web'>
<div
class='relative bg-center bg-cover bg-no-repeat h-[90vh] w-full max-w-[100vw] mb-24' style={`clip-path:polygon(0 0, 100% 0, 100% 85%,50% 100%,50% 100%,0% 85%);background-image:url('/bg-finalistas.webp')`}>
<div
class="absolute inset-0 w-full h-full flex justify-center flex-col gap-y-10 items-start  p-4 2xl:p-0 max-w-7xl mx-auto animate-fade-up">
<h1
    class="text-3xl md:text-5xl font-semibold text-balance">
    FINALISTAS DE LA 3ª EDICIÓN DE LOS PREMIOS ESLAND
    </h1>
    <p class="text-xl text-balance">El periodo de votaciones ha finalizado. Descubre a los creadores más votados de este año por la comunidad hispanohablante del contenido en directo.</p>
    <a target="_blank" href="https://premiosesland.com/finalistas?show=finalistas" class="my-button-shadow border border-solid border-white py-2 px-8 w-fit rounded-full">
        VER FINALISTAS
    </a>
</div>
</div>
</Layout>