---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import BentoGrid from '../components/BentoGrid.astro';
import PreFooter from '../components/PreFooter.astro';
---

<Layout title="Esland Web - 2024" description='Description esland web - home'>
	<Video />
	<main>
        <Intro />
		<BentoGrid />
		<PreFooter />
	</main>
</Layout>