<section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20 mb-24">
  <h3
    class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
  >
    ESLAND TERCERA EDICIÓN
  </h3>

  <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10 w-full min-h-[400px] md:min-h-[800px]"
    videoid="nYPVr2IYTtk"
    videotitle='ESLAND TERCERA EDICIÓN'></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube"
</script>